IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
PATH_SUPERBLOQUE=/home/utnso/tp-2023-1c-Kernel-Masters/File_System/superbloque.dat
PATH_BITMAP=/home/utnso/tp-2023-1c-Kernel-Masters/File_System/bitmap.dat
PATH_BLOQUES=/home/utnso/tp-2023-1c-Kernel-Masters/File_System/bloques.dat
PATH_FCB=/home/utnso/tp-2023-1c-Kernel-Masters/File_System/fcb
RETARDO_ACCESO_BLOQUE=15000IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
RETARDO_ACCESO_BLOQUE=15000
PATH_SUPERBLOQUE=~/fs/sbloque.dat
PATH_BITMAP=~/fs/bitmap.dat
PATH_BLOQUES=~/fs/bloques.dat
PATH_FCB=~/fs/fcb
